/* styles */

a {
  color: #3b5998;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #3b5998;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .nav>li>a {
  color: #fff;
}

.navbar-default .nav>li>a:focus,
.navbar-default .nav>li>a:hover {
  color: #fff;
}

/* top nav logo */
#logo{
	margin:0 !important;
}

/* 상단 메시지 디자인 *********************************/
#noReadCount{
	position:relative;
}

.dropdown a{
	cursor:pointer;
}

#subMessageDiv{
	margin:0;
	padding:0;
	top:51px;
}
#subMessageDiv a{
	color:white;
	border-bottom:1px solid #e9ecef;
	padding:9px;
}

.subMessageDivHover{
	background:#ae3ec9 !important;
	color:white !important;
}
/* 상단 메시지 디자인 */