/* 태그 기본 css ////////////////////////////////////////////*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

a {
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px !important;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #8f8fa1;}
input:-moz-placeholder { color: #8f8fa1;}
input::-moz-placeholder { color: #8f8fa1;}
input:-ms-input-placeholder { color: #8f8fa1;}

textarea::-webkit-input-placeholder { color: #8f8fa1;}
textarea:-moz-placeholder { color: #8f8fa1;}
textarea::-moz-placeholder { color: #8f8fa1;}
textarea:-ms-input-placeholder { color: #8f8fa1;}

label {
  display: block;
  margin: 0;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/* 태그 기본 css */

/* 배경  ////////////////////////////////////////////*/
.container {
  min-height: 90vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 배경  */

/* font *********************************/
@font-face { font-family: 'BBTreeGB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff'); font-weight: normal; font-style: normal; }

/* font */

/* form 디자인 *************************************/



.content-box {
	margin-top: 20px;
}

h3:nth-child(n+4) {
	margin-top: 20px;
}

#selectGu {
	margin-bottom:5px;
}

#selectDong {
	margin-bottom:5px;
}

#saveChangeBtn {
	margin-top: 20px;
	background-color:#827FFE ;
	border-color:#827FFE ;
	color:white;
}
#saveChangeBtn:hover{
	background-color:#6663db;
}

#profileChangeImgBox {
	width: 200px;
	padding: 15px;
	border:none;
}

#profileChangeImgBox img {
	width: 170px;
}

#searchPost{
	background-color:#827FFE ;
	border-color:#827FFE ;
	color:white;
}

#searchPost:hover{
	background-color:#6663db;
}

/* form 디자인 */

/* 파일 업로드 디자인 *************************************/
.filebox{
	padding:0 !important;
}

.filebox label {
	display: inline-block;
	width:100%;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] { /* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#uploadBtn{
	background:rgba(0,0,0,0.7);
	color:white;
	border:none;
	border-radius:0px !important;
	margin-top:-55px;
}

/* 파일 업로드 디자인 */