.select-span{
   text-align: center; 
   line-height: 45px;
}

.icon {
   width: 30px;
   height: auto;
}

.card-title > label {
   font-family: "Recipekorea" !important;
   font-size: 1.5rem;
}

.c-content-container {
   float:left;
   background-color: #E6E5FF;
   width: 65%;
   height: 110px;
   border-radius: 10px;
}

.text-container {
   width: 100%;
   padding: 18px 0px 18px 0px;
   text-align: center;
   display: inline-block;
}

.image-container{
   width: 30%;
   float: right;
}

.c-link{
   font-size: 1rem;
   font-family: "Spoqa-bold"
}

.pic {
   width: 100%;
   height: 110px;
   float: left;
   object-fit:cover;
   border-radius: 10px;
}

.table {
   font-size: 70%;
   white-space: nowrap;
}

.collapsing-parallax {
   height: 350px;
   width: 100%;
   background: url("/resources/img/common/img6666.jpg")
      center center no-repeat;
   background-color: rgb(33,14,61);
   background-size: cover;
   z-index: 99;
}

.navbar-default{
 background-color: rgba(255,255,255,0) !important;
 transition: 1s;
}
.cardview{
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.18),
      0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}

/*게시글 리스트 */

.tab-content thead{
   font-family:"ImcreSoojin";
   font-size:0.9rem;
}

tbody{
   font-family:"SC";
   font-size:0.8rem;
}

.userNickname{
   cursor:pointer;
}

.sendMessageToUser{
   cursor:pointer;
}

/* 서울 소식 */
#seoulNews{
   height:220px;
   overflow:hidden;
   border: outset 1px #e6e6e6;
   border-radius:5px;
   padding:10px;
   margin-bottom:10px;
}

#seoulNews div{
   width:100%;
   height:auto;
}

.newsDiv{
   overflow:hidden;
   border-radius:0 0 6px 6px;
   background-color:#E6E5FF;
   position:relative;
}

.newsDiv p{
   cursor:pointer;
}

.newsImageBox{
	overflow:hidden;
	border:1px solid #dee2e6;
	border-radius:6px 6px 0 0;
}

.newsImageBox img{
	width:100%;
}

/* 서울 문화 */
#seoulCulture{
   height:220px;
   border: outset 1px #dee2e6;
   border-radius:5px ;
   padding:10px;
}

/* 반응형 */
@media screen and (max-width: 968px) {
   #seoulCulture{
      order:1;
      margin-bottom:10px;
   }
   #listLeft{
      order:2;
   }
}