<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justdo.mapper.commonMapper">

	<select id="login" resultType="com.justdo.domain.MemberVO">
		select * from tbl_member
		where userid= #{userid} and userpw =#{userpw}
	</select>
	
	<select id="selectBoard" resultType="com.justdo.domain.BoardVO">
		select * from tbl_board
		where bno=#{bno}
	</select>
	
	<!-- tbl_member테이블에 가입정보 insert -->
	<insert id="insertUser">
		insert into tbl_member(userid, nickname, userpw, email, member_location)
		values(#{userid}, #{nickname}, #{userpw}, #{email}, #{member_location})
	</insert>
	
	<!-- tbl_member_auth테이블에 권한 추가 -->
	<insert id="insertUserAuth">
		insert into tbl_member_auth(userid, auth)
		values(#{userid}, 'ROLE_USER');
	</insert>
	
	<!-- id중복체크 -->
	<select id="checkID" resultType="int">
		select count(*) from tbl_member
		where userid = #{userid}
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="checkNickName" resultType="int">
		select count(*) from tbl_member
		where nickname = #{nickname}
	</select>
	
	<!-- 이메일 중복체크 -->
	<select id="checkEmail" resultType="int">
		select count(*) from tbl_member
		where email = #{email}
	</select>
	
	<!-- 안읽은 메시지 개수 가져오기 -->
	<select id="selectMessageReadCount" resultType="int">
		select count(read_check = 'N') as noreadcount from tbl_message where RECEIVER=#{userid} and read_check ='N';
	</select>
	
	<!-- 날씨 정보 위한 회원 구 가져오기 -->
	<select id="selectGuForWeather" resultType="String">
		select substring_index(member_location,'_',1) as location from tbl_member where userid = #{userid}
	</select>
</mapper>