<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.justdo.mapper.ReplyMapper">
	
	<!-- 댓글등록 -->
	<insert id="insert">
		insert into tbl_reply (bno, reply, replyer)
		values(#{bno}, #{reply}, #{replyer})
	</insert>
	
	<!-- 대댓글 등록 -->
	<insert id="reInsert">
		insert into tbl_r_reply(rno, r_reply, r_replyer)
		values(#{rno}, #{r_reply}, #{r_replyer})
	</insert>
	
	<!-- 댓글 1개 조회 -->
	<select id="read" resultType="com.justdo.domain.ReplyVO">
		select * from tbl_reply where rno = #{rno}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from tbl_reply where rno = #{no}
	</delete>
	
	<!-- 대댓글이 달린 댓글 삭제 -->
	<update id="deleteExist">
		update tbl_reply set exist = 1 where rno = #{no}
	</update>
	
	<!-- 대댓글 삭제 -->
	<delete id="deleteRe">
		delete from tbl_r_reply where r_rno = #{no}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="update">
		update tbl_reply set reply = #{reply}, updatedate = sysdate() where rno = #{rno}
	</update>
	
	<!-- 대댓글 수정 -->
	<update id="updateRe">
		update tbl_r_reply set r_reply = #{reply}, r_updatedate = sysdate() where r_rno = #{rno}
	</update>
	
	<!-- 댓글 목록 가져오기 -->
	<select id="getListWithPaging" resultType="com.justdo.domain.ReplyVO">
		select rno, bno, reply, replyer, replydate, updatedate, exist
		from tbl_reply
		where bno = #{bno}
		order by rno asc
		limit #{cri.startIndex}, #{cri.amount}
	</select>
	
	<!-- 대댓글 가져오기 -->
	<select id="getReReplyList" resultType="com.justdo.domain.ReReplyVO">
		select rr.*
		from tbl_r_reply rr, (
			select rno
			from tbl_reply
			where bno = #{bno}
			limit #{cri.startIndex}, #{cri.amount}
		) r
		where rr.rno = r.rno;
	</select>
	
	
	
	<!-- 댓글 총 개수 가져오기 (페이징) -->
	<select id="getCountByBno" resultType="int">
		select count(rno) from tbl_reply where bno = #{bno}
	</select>
	
	<!-- TBL_BOARD의 REPLY_COUNT 구하기 -->
	<select id="getReplyCount" resultType="int">
		select reply_count from tbl_board where bno = #{bno}
	</select>

	
</mapper>